body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    background-color: black;
    font-size: .9em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    color: #eeeeee;
    height: 40px;
    border-bottom: 1px solid black;
    z-index: 9999;
}

header > h1 {
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
}

.board {
    margin-top: 41px;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.endpoint {
    position: relative;
    margin: 2px;
    display: inline-block;
    color: #eeeeee;
    padding: 3px;
    width: 150px;
    height: 80px;
    word-break: break-all;
    overflow: hidden;
}
.endpoint > div:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

.endpoint > .time {
    font-size: smaller;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 150px;
}

@keyframes blink {
    from { border-color: yellow; }
    to { }
}
.endpoint[data-status="healthy"] { background-color: darkgreen;background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), darkgreen;}
.endpoint[data-status="faulty"] { background-color: darkred; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), darkred;}
.endpoint[data-status="unhealthy"] { background-color: gold;color: #222222; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), gold;}
.endpoint[data-status="timedOut"] { background-color: orangered; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), orangered;}
.endpoint[data-status="offline"] { background-color: blue; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), blue;}
.endpoint[data-status="notRun"] { background-color: #111111; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), #111111;}
.endpoint[data-status="notExists"] { background-color: #444444; background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), #444444;}
.endpoint[data-changed="true"] {animation-name: blink;animation-duration: 0.9s;}

.group1 {
  border-bottom: solid 10px #ffffff;
}
.group2 {
  border-bottom: solid 10px #999999;
}
.group3 {
  border-bottom: solid 10px #474747;
}
