body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    background-color: black;
    font-size: .9em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    color: #eeeeee;
    height: 40px;
    border-bottom: 1px solid black;
    z-index: 9999;
    vertical-align: middle;
}

td.filter{ width: 100%;text-align: right;}

input.filter{ background: transparent;border: 1px solid black;color: #eeeeee;margin: 0;padding: 2px;margin-right: 10px;}

td > h1 {
    font-size: 1.6em;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

td > img {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    margin-left: 10px;
}

.board {
    margin-top: 41px;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.endpoint {
    position: relative;
    margin: 2px;
    display: inline-block;
    color: #eeeeee;
    padding: 3px;
    width: 150px;
    height: 80px;
    word-break: break-all;
    overflow: hidden;
}
.endpoint > div:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

.endpoint > .time {
    font-size: smaller;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 150px;
}

@keyframes blink {
    from { border-color: yellow; }
    to { }
}
.endpoint[data-status="healthy"] { background-color: darkgreen;background: url("/static/healthy.svg") no-repeat center center,linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), darkgreen;background-size: contain;background-blend-mode: screen,normal;}
.endpoint[data-status="faulty"] { background-color: darkred; background: url("/static/faulty.svg") no-repeat center center,linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), darkred;background-size: contain;background-blend-mode: screen,normal;}
.endpoint[data-status="unhealthy"] { background-color: gold;color: #222222; background: url("/static/unhealthy.svg") no-repeat center center,linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), gold;background-size: contain;background-blend-mode: screen,normal;}
.endpoint[data-status="timedOut"] { background-color: orangered; background: url("/static/timedOut.svg") no-repeat center center,linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), orangered;background-size: contain;background-blend-mode: screen,normal;}
.endpoint[data-status="offline"] { background-color: blue; background: url("/static/offline.svg") no-repeat center center,linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), blue;background-size: contain;background-blend-mode: screen,normal;}
.endpoint[data-status="notRun"] { background-color: #111111; background: url("/static/notRun.svg") no-repeat center center,linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), #111111;background-size: contain;background-blend-mode: screen,normal;}
.endpoint[data-status="notExists"] { background-color: #444444; background: url("/static/notExists.svg") no-repeat center center,linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), #444444;background-size: contain;background-blend-mode: screen,normal;}
.endpoint[data-changed="true"] {animation-name: blink;animation-duration: 0.9s;}

.group1 {
  border-bottom: solid 10px #ffffff;
}
.group2 {
  border-bottom: solid 10px #999999;
}
.group3 {
  border-bottom: solid 10px #474747;
}
