body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    background-color: #eeeeee;
    font-size: .9em;
    color: #222222;
}

td:first-of-type {
    font-weight: bold;
}

td:nth-of-type(2) {
    white-space: pre;
}

.chart {
  border-left:1px solid black;
  border-bottom:1px solid black;
  margin-bottom: 30px;
  margin-left: 20px;
  position:relative;
  background-color: #bbbbbb;
}

.y {
  position:absolute;
  transform:rotate(-90deg);
  transform-origin: bottom left;
  bottom:0;
  padding:5px;
}

.x {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

svg {
  position:absolute;
  transform:rotateX(180deg);
  left: 1px;
  top: 1px;
}

path{
  stroke-width:1px;
  stroke-linecap: butt;
  fill: none;
  stroke-linejoin: miter;
}

path.healthy { stroke: darkgreen; }
path.faulty { stroke: darkred; }
path.unhealthy { stroke: gold; }
path.timedOut { stroke: orangered; }
path.offline { stroke: blue; }
path.notRun{ stroke: #111111; }
path.notExists { stroke: #444444; }

.legendBar { margin-left: 20px;}
.status { padding: 2px;font-size: smaller;display: inline-block;margin-right: 2px;}
.status.healthy { background-color: darkgreen;color: #eeeeee;}
.status.faulty { background-color: darkred;color: #eeeeee;}
.status.unhealthy { background-color: gold;}
.status.timedOut { background-color: orangered;color: #eeeeee;}
.status.offline { background-color: blue;color: #eeeeee;}
.status.notRun { background-color: #111111;color: #eeeeee;}
.status.notExists { background-color: #444444;color: #eeeeee;}

.tooltip {
    display:block;
    position:fixed;
    overflow:hidden;
    background-color: #bbbbbb;
    border: 1px solid black;
    padding: 1em;
    left: 20px;
    top: 20px;
}