body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    background-color: #999999;
    font-size: .9em;
}

.chart {
  border-left:1px solid black;
  border-bottom:1px solid black;
  margin-bottom: 30px;
  margin-left: 20px;
  position:relative;
  padding: 1px;
}

.y {
  position:absolute;
  transform:rotate(-90deg);
  transform-origin: bottom left;
  bottom:0;
  padding:5px;
}

.x {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

svg {
  position:absolute;
  transform:rotateX(180deg);
  left: 1px;
  top: 1px;
}

path{
  stroke-width:1px;
  stroke-linecap: butt;
  fill: none;
  stroke-linejoin: miter;
}

path.healthy { stroke: darkgreen; }
path.faulty { stroke: darkred; }
path.unhealthy { stroke: gold; }
path.timedOut { stroke: orangered; }
path.offline { stroke: blue; }
path.notRun{ stroke: #000000; }
path.notExists { stroke: #333333; }

.legendBar { margin-left: 20px;}
.legend { padding: 2px;font-size: smaller;display: inline-block;margin-right: 2px;}
.legend.healthy { background-color: darkgreen;color: white;}
.legend.faulty { background-color: darkred;color: white;}
.legend.unhealthy { background-color: gold;color: black;}
.legend.timedOut { background-color: orangered;color: white;}
.legend.offline { background-color: blue;color: white;}
.legend.notRun { background-color: #000000;color: white;}
.legend.notExists { background-color: #333333;color: white;}

.tooltip {
    display:block;
    position:fixed;
    overflow:hidden;
    background-color: #999999;
    border: 1px solid black;
    padding: 1em;
    left: 20px;
    top: 20px;
}