<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="accessConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="WebDriver" value="Chrome" />
    <add key="BaseUrl" value="http://localhost:19000/" />
    <add key="ProjectUrl" value="https://github.com/wongatech/HealthMonitoring" />
    <add key="Monitor.HealthCheckInterval" value="00:00:02" />
    <add key="Monitor.FailureTimeOut" value="00:00:08" />
    <add key="Monitor.ShortTimeOut" value="00:00:04" />
    <add key="Monitor.HealthUpdateInactivityTimeLimit" value="00:00:15" />
    <add key="DatabaseName" value="healthmonitoringtest" />
  </appSettings>
  <connectionStrings>
    <add name="HealthMonitoring" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=Password12!;" />
    <add name="RabbitMqConnectionString" connectionString="host=localhost;username=guest;password=guest" />
  </connectionStrings>
  <accessConfiguration>
    <add key="AdminId" value="431251bd-b1b7-4a22-834e-c8051210227d" />
    <add key="AdminPassword" value="ge49we046hu29m50swn0v3cgg3bwl1i10yj17xp8mnshvfow51alxcui0sany25sg5qqzfplqeeljvusbvxnnj6hvfa8hlarl0z0uohjky6xrwz1zgfh6vc4l6raeq0x" />
    <add key="MonitorId" value="bc4befed-a3da-4da4-9208-586a2d783fa2" />
    <add key="MonitorPassword" value="tjhsudehe53vzsvcxkcpvckba6rd69kyg0uj8ipuzc75y7w7bhdhcviefs4x9l4y896w5f0z78kbdgvnop3gdjhupcyhebi83nmg63ad9dyzp636xokeo2ckhsh99noh" />
  </accessConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.SelfHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.execution.desktop" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
