<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="HealthMonitorUrl" value="http://localhost:9000/"/>
    <add key="DataExchangeConfig.EndpointChangeQueryInterval" value="00:00:01"/>
    <add key="DataExchangeConfig.UploadRetryInterval" value="00:00:01"/>
  </appSettings>
</configuration>