<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="accessConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="RabbitMqConnectionString" connectionString="host=localhost;username=guest;password=guest" />
  </connectionStrings>
  <appSettings>
    <add key="HealthMonitoringUrl" value="http://localhost:19000/"/>
    <add key="DataExchangeConfig.EndpointChangeQueryInterval" value="00:00:01"/>
    <add key="DataExchangeConfig.UploadRetryInterval" value="00:00:01"/>
    <add key="DataExchangeConfig.MonitorTag" value="custom monitor?/:\tag"/>
  </appSettings>
  <accessConfiguration>
    <add key="MonitorId" value="bc4befed-a3da-4da4-9208-586a2d783fa2" />
    <add key="MonitorPassword" value="tjhsudehe53vzsvcxkcpvckba6rd69kyg0uj8ipuzc75y7w7bhdhcviefs4x9l4y896w5f0z78kbdgvnop3gdjhupcyhebi83nmg63ad9dyzp636xokeo2ckhsh99noh" />
  </accessConfiguration>
</configuration>