<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="accessConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="HealthMonitoringUrl" value="http://localhost:9000/" />
  </appSettings>
  <accessConfiguration>
    <add key="MonitorId" value="bc4befed-a3da-4da4-9208-586a2d783fa2" />
    <add key="MonitorPrivateToken" value="tjhsudehe53vzsvcxkcpvckba6rd69kyg0uj8ipuzc75y7w7bhdhcviefs4x9l4y896w5f0z78kbdgvnop3gdjhupcyhebi83nmg63ad9dyzp636xokeo2ckhsh99noh" />
  </accessConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>