<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Health Monitoring - dashboard</title>
    <link rel="icon" href="/static/assets/favicon.ico">
    <script src="/static/scripts/angular.min.js"></script>
    <script src="/static/scripts/angular-filter.min.js"></script>
    <script src="/static/scripts/angular-route.min.js"></script>
    <script src="/static/scripts/functions.js"></script>
    <script src="/static/scripts/advanced-filters.js"></script>
    <script src="/static/scripts/advanced-directives.js"></script>
    <script src="/static/scripts/groupNodeSizer.js"></script>
    <link rel="stylesheet" href="/static/styles/site.css">
    <link rel="stylesheet" href="/static/styles/dashboard.css">
    <base href="/dashboard">
</head>
<body ng-app="app" data-ng-controller="DashboardController">
<header>
    <table>
        <tr>
            <td><img src="/static/assets/favicon.svg" alt="icon" /></td>
            <td><h1><a href="/"  target="_self">{{dashSettings.Title}}</a></h1></td>
            <td class="toolbar">
                <wg-multiselect items="healthStatuses" after-select="onStatusFilterChanged" selected="selectedStatuses"></wg-multiselect>

                <input type="text" placeholder="tags filter..." ng-model="tagsFilter" class="filter" ng-change="onTagsFilterChanged()"/>
                <input type="checkbox" id="endpointGrouping" ng-model="endpointGrouping" ng-click="updateEndpointGrouping()"/>
                <label for="endpointGrouping">Group View</label>
                <input type="text" placeholder="group filter..." ng-model="filter.Group" class="filter" ng-change="onGroupFilterChanged()"/>
                <input type="text" placeholder="text filter..." ng-model="filter.$" class="filter" ng-change="onTextFilterChanged()"/>
            </td>
        </tr>
    </table>
</header>
    <div class="board" ng-if="!endpointGrouping">
        <a ng-repeat="e in endpoints | tagsFilter:tagsFilter | wildcardFilter:filter:['Group','Status'] | orderBy: ['Group','Name']" ng-class="::getEndpointClassName(e.Group)" class="endpoint endpoint-status" data-status="{{::e.Status}}" data-changed="{{::e.changed}}" href="/dashboard/details?id={{::e.Id}}" target="_blank">
            <div>{{::e.Group}}</div>
            <div>{{::e.Name}}</div>
            <div class="label">{{::formatDuration(e.LastResponseTime)}}</div>
        </a>
    </div>
    <div class="board" ng-if="endpointGrouping">
        <a ng-repeat="group in endpoints | tagsFilter:tagsFilter | wildcardFilter:filter:['Group','Status'] | groupBy: 'Group' |toArray:true | orderBy: '$key'" ng-class="::getEndpointClassName(group.$key)" data-status="{{findHighestStatus(group)}}" data-changed="{{didAnyChanged(group)}}" class="endpoint endpoint-status endpoint-group" href="/dashboard?filter-group={{encodeURIComponent(group.$key)}}" target="_self">
            <div>{{::group.$key}}</div>
            <div class="nodeBar">
                <div ng-repeat="e in group" class="endpoint-node endpoint-status" data-status="{{::e.Status}}" data-changed="{{::e.changed}}" style="width:{{getNodeSize(group.length).percentWidth}}%;height:{{getNodeSize(group.length).percentHeight}}%;"></div>
            </div>
            <div class="label">{{group.length}}</div>
        </a>
    </div>
    <script src="/static/scripts/healthmonitoringApp.js"></script>
    <script src="/static/scripts/dashboardController.js"></script>
    <script src="/static/scripts/endpointService.js"></script>
</body>
</html>