body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    background-color: black;
    font-size: .9em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222222;
    color: #eeeeee;
    height: 40px;
    border-bottom: 1px solid black;
    z-index: 9999;
    vertical-align: middle;
}

td.toolbar{ width: 100%;text-align: right;}

input.filter{ background: transparent;border: 1px solid black;color: #eeeeee;margin: 0;padding: 2px;margin-right: 10px;}
.toolbar > label{ color: #aaaaaa;}

td > h1 {
    font-size: 1.6em;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

td > h1 > a {
    color: inherit;
    display: block;
}

td > img {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    margin-left: 10px;
}

.board {
    margin-top: 41px;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.endpoint {
    position: relative;
    margin: 2px;
    display: inline-block;
    color: #eeeeee;
    padding: 3px;
    width: 150px;
    height: 80px;
    word-break: break-all;
    overflow: hidden;
}
.endpoint > div:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

.endpoint > .label {
    font-size: smaller;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 150px;
}

.endpoint-status[data-status="healthy"] { background-color: darkgreen;background: url("/static/assets/healthy.svg"),linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), darkgreen;}
.endpoint-status[data-status="faulty"] { background-color: darkred; background: url("/static/assets/faulty.svg"),linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), darkred;}
.endpoint-status[data-status="unhealthy"] { background-color: gold;color: #222222; background: url("/static/assets/unhealthy.svg"),linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), gold;}
.endpoint-status[data-status="timedOut"] { background-color: orangered; background: url("/static/assets/timedOut.svg"),linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), orangered;}
.endpoint-status[data-status="offline"] { background-color: blue; background: url("/static/assets/offline.svg"),linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), blue;}
.endpoint-status[data-status="notRun"] { background-color: #111111; background: url("/static/assets/notRun.svg"),linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), #111111;}
.endpoint-status[data-status="notExists"] { background-color: #444444; background: url("/static/assets/notExists.svg"),linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), #444444;}
.endpoint[data-changed="true"] {border-color: yellow;}

.endpoint {
    background-size: 48px 48px, contain !important;
    background-blend-mode: screen,normal !important;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
}

.endpoint-group {
    background-size: 0 0, contain !important;
    background-blend-mode: screen,normal !important;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
}

.endpoint-group > div:first-child {
    z-index: 1;
    position: absolute;
}

.endpoint-node {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: middle;
    background-size: 100% auto, contain !important;
    background-blend-mode: screen,normal !important;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
}

.nodeBar{ vertical-align: middle;text-align: center;width: 147px;height: 49px;line-height: 1;
    position: absolute;
    bottom: 5px;}

.group1 {
  border-bottom: solid 10px #ffffff;
}
.group2 {
  border-bottom: solid 10px #999999;
}
.group3 {
  border-bottom: solid 10px #474747;
}
