<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Health Monitoring - dashboard</title>
    <link rel="icon" href="/static/assets/favicon.ico">
    <script src="/static/scripts/angular.min.js"></script>
    <script src="/static/scripts/angular-filter.min.js"></script>
    <script src="/static/scripts/functions.js"></script>
    <script src="/static/scripts/advanced-filters.js"></script>
    <script src="/static/scripts/advanced-directives.js"></script>
    <script src="/static/dashboard/groupNodeSizer.js"></script>
    <link rel="stylesheet" href="/static/dashboard/dashboard.css">
    <base href="/dashboard">
</head>
<body ng-app="app" data-ng-controller="ctrl">
<header>
    <table>
        <tr>
            <td><img src="/static/assets/favicon.svg" alt="icon" /></td>
            <td><h1><a href="/"  target="_self">{{dashSettings.Title}}</a></h1></td>
            <td class="toolbar">
                <wg-multiselect items="healthStatuses" after-select="onStatusFilterChanged" selected="selectedStatuses"></wg-multiselect>

                <input type="text" placeholder="tags filter..." ng-model="tagsFilter" class="filter" ng-change="onTagsFilterChanged()"/>
                <input type="checkbox" id="endpointGrouping" ng-model="endpointGrouping" ng-click="updateEndpointGrouping()"/>
                <label for="endpointGrouping">Group View</label>
                <input type="text" placeholder="group filter..." ng-model="filter.Group" class="filter" ng-change="onGroupFilterChanged()"/>
                <input type="text" placeholder="text filter..." ng-model="filter.$" class="filter" ng-change="onTextFilterChanged()"/>
            </td>
        </tr>
    </table>
</header>
    <div class="board" ng-if="!endpointGrouping">
        <a ng-repeat="e in endpoints | tagsFilter:tagsFilter | wildcardFilter:filter:['Group','Status'] | orderBy: ['Group','Name']" ng-class="::getEndpointClassName(e.Group)" class="endpoint endpoint-status" data-status="{{::e.Status}}" data-changed="{{::e.changed}}" href="/dashboard/details?id={{::e.Id}}" target="_blank">
            <div>{{::e.Group}}</div>
            <div>{{::e.Name}}</div>
            <div class="label">{{::formatDuration(e.LastResponseTime)}}</div>
        </a>
    </div>
    <div class="board" ng-if="endpointGrouping">
        <a ng-repeat="group in endpoints | tagsFilter:tagsFilter | wildcardFilter:filter:['Group','Status'] | groupBy: 'Group' |toArray:true | orderBy: '$key'" ng-class="::getEndpointClassName(group.$key)" data-status="{{findHighestStatus(group)}}" data-changed="{{didAnyChanged(group)}}" class="endpoint endpoint-status endpoint-group" href="/dashboard?filter-group={{encodeURIComponent(group.$key)}}" target="_self">
            <div>{{::group.$key}}</div>
            <div class="nodeBar">
                <div ng-repeat="e in group" class="endpoint-node endpoint-status" data-status="{{::e.Status}}" data-changed="{{::e.changed}}" style="width:{{getNodeSize(group.length).percentWidth}}%;height:{{getNodeSize(group.length).percentHeight}}%;"></div>
            </div>
            <div class="label">{{group.length}}</div>
        </a>
    </div>
    <script>
        var app = angular.module('app', ['angular.filter', 'advanced.filters', 'advanced.directives']);
        app.config(function($locationProvider) {
            $locationProvider.html5Mode(true);
        });
        app.controller('ctrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
            var groupClassNames = {};
            var groupNodeSizer = new GroupNodeSizer(3.0);
            var endpointFrequency = getEndpointUpdatingFrequency($location);
            var configFrequency = getConfigUpdatingFrequency($location);

            $scope.filter = {};
            $scope.tagsFilter = "";
            $scope.healthStatuses = [];
            $scope.selectedStatuses = [];

            initializeToolbar($scope, $location);

            $scope.endpoints = [];
            $scope.dashSettings = { Title: "Health Monitor" };

            $scope.getConfig = function () {
                $http.get("/api/config")
                    .success(function (response) {
                        $scope.dashSettings = response.Dashboard;
                        $scope.healthStatuses = response.HealthStatuses;
                    })
                    .error(function (data, status) {
                        //do nothing
                    });
            }

            $scope.update = function () {
                $http.get("/api/endpoints")
                  .success(function (response) {
                        updateEndpointsInPlace($scope.endpoints, response);
                    })
                  .error(function (data, status) {
                      $scope.endpoints = [];
                  });
            };

            $scope.getConfig();
            $scope.update();
            setInterval($scope.update, endpointFrequency);
            setInterval($scope.getConfig, configFrequency);

            $scope.getEndpointClassName = function (endpointGroup) {
                if (!groupClassNames[endpointGroup]) {
                    groupClassNames[endpointGroup] = 'group' + (Object.keys(groupClassNames).length % 3 + 1);
                }
                return groupClassNames[endpointGroup];
            };

            $scope.formatDuration = formatDuration;

            $scope.findHighestStatus = function(endpoints) {
                var severities = { 'notRun': 0, 'healthy': 1, 'offline': 2, 'notExists': 3, 'unhealthy': 4, 'timedOut': 5, 'faulty': 6 };
                var severity = 0;
                for (var i = endpoints.length-1; i >= 0; --i) {
                    var current = severities[endpoints[i].Status];
                    if (current > severity) {
                        severity = current;
                    }
                }
                for (var prop in severities) {
                    if (severities.hasOwnProperty(prop) && severities[prop] === severity) {
                        return prop;
                    }
                }
                return 'notRun';
            }

            $scope.didAnyChanged = function(endpoints) {
                for (var i = endpoints.length-1; i >= 0; --i) {
                    if (endpoints[i].changed === true) {
                        return true;
                    }
                }
                return false;
            }

            $scope.onStatusFilterChanged = function (statuses) {
                $scope.selectedStatuses = statuses;
                $scope.filter.Status = statuses.length ? statuses.join(';') : null;
                $location.search('filter-status', $scope.filter.Status);
            };

            $scope.onGroupFilterChanged = function () {
                var urlParam = $scope.filter.Group == "" ? null : $scope.filter.Group;
                $location.search('filter-group', urlParam);
            };

            $scope.onTextFilterChanged = function () {
                var urlParam = $scope.filter.$ == "" ? null : $scope.filter.$;
                $location.search('filter-text', urlParam);
            };

            $scope.onTagsFilterChanged = function () {
                var urlParam = $scope.tagsFilter || null;
                $location.search('filter-tags', urlParam);
            };

            $scope.getNodeSize = groupNodeSizer.getNodeSize;
            $scope.encodeURIComponent = encodeURIComponent;

            $scope.updateEndpointGrouping = function() {
                $location.search('group-view', $scope.endpointGrouping?true:null);
            }
        }]);

        function getEndpointUpdatingFrequency(location) {
            var freq = location.search()["endpoint-frequency"];
            return parseInt(freq) || 1000;
        }
        function getConfigUpdatingFrequency(location) {
            var freq = location.search()["config-frequency"];
            return parseInt(freq) || 20000;
        }

        function updateEndpointsInPlace(endpoints, newEndpoints) {
            var newDict = {};
            var index;
            var newItem;

            //to dictionary
            for (index = newEndpoints.length - 1; index >= 0; --index) {
                var e = newEndpoints[index];
                newDict[e.Id] = e;
            }
            
            //update/delete
            for (index = endpoints.length - 1; index >= 0; --index) {
                var currentItem = endpoints[index];
                newItem = newDict[currentItem.Id];
                if (!newItem) {
                    endpoints.splice(index, 1);
                }
                else if (currentItem.LastModifiedTime !== newItem.LastModifiedTime) {
                    newItem.changed = true;
                    endpoints[index] = newItem;
                } else if (currentItem.changed) {
                    newItem.changed = false;
                    endpoints[index] = newItem;
                } 
                newDict[currentItem.Id] = null;
            }

            //insert
            for (var id in newDict) {
                if (newDict.hasOwnProperty(id)) {
                    newItem = newDict[id];
                    if (newItem != null) {
                        newItem.changed = true;
                        endpoints.push(newItem);
                    }
                }
            }
        }

        function initializeToolbar(scope, location) {
            var textFilter = location.search()['filter-text'];
            var groupFilter = location.search()['filter-group'];
            var statusFilter = location.search()['filter-status'];
            var tagsFilter = location.search()['filter-tags'];
            var groupView = location.search()['group-view'];
            if (textFilter) {
                scope.filter.$ = textFilter;
            }
            if (groupFilter) {
                scope.filter.Group = groupFilter;
            }
            if (groupView) {
                scope.endpointGrouping = true;
            }
            if (statusFilter) {
                scope.filter.Status = statusFilter;
                scope.selectedStatuses = statusFilter.split(';');
            }
            if (tagsFilter) {
                scope.tagsFilter = tagsFilter;
            }
        }
    </script>
</body>
</html>