.tagsContainer {
    margin: 0;
}

.endpointTag {
    margin: 0 0.1em 0 0.1em;
    display: inline-block;
    line-height: 1.9em;
    padding: 0 0.55em;
    font-weight: 600;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
    font-size: 0.76em;
    text-align: center;
    border-radius: 0.25em;
}

.endpointTag.group {
    display: block !important;
    margin: 1em 0.1em 1em 0.1em;
}

.endpointTag:hover {
    cursor: pointer;
}

.responseTime {
    text-align: left !important;
}