body {
    background-color: #eeeeee;
    color: #222222;
}

td:first-of-type {
    font-weight: bold;
}

td:nth-of-type(2) {
    white-space: pre;
}

.chart {
  border-left:1px solid black;
  border-bottom:1px solid black;
  margin-bottom: 30px;
  margin-left: 20px;
  position:relative;
  background-color: #bbbbbb;
}

.chartLoading {
    margin-left: 20px;
    visibility: hidden;
}

.chartLoading[data-pending="true"] {
    visibility: visible;
}

.y {
  position:absolute;
  transform:rotate(-90deg);
  transform-origin: bottom left;
  bottom:0;
  padding:5px;
}

.x {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

svg {
  position:absolute;
  transform:rotateX(180deg);
  left: 1px;
  top: 1px;
}

path{
  stroke-width:1px;
  stroke-linecap: butt;
  fill: none;
  stroke-linejoin: miter;
}

path.healthy { stroke: darkgreen; }
path.faulty { stroke: darkred; }
path.unhealthy { stroke: gold; }
path.timedOut { stroke: orangered; }
path.offline { stroke: blue; }
path.notRun{ stroke: #111111; }
path.notExists { stroke: #444444; }


.legendBar { margin-left: 20px;}
.status { padding: 2px;font-size: smaller;display: inline-block;margin-right: 2px;}
.stats-key{width: 75px;}
