<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/assets/favicon.ico">
    <title>Health Monitoring</title>
    <script src="/static/scripts/angular.min.js"></script>
    <script src="/static/scripts/angular-filter.min.js"></script>
    <script src="/static/scripts/functions.js"></script>
    <script src="/static/scripts/advanced-filters.js"></script>
    <script src="/static/scripts/legend.js"></script>
    <link rel="stylesheet" href="/static/styles/site.css">
    <link rel="stylesheet" href="/static/styles/home.css">
    <link rel="stylesheet" href="/static/styles/common.css">
    <base href="/">
</head>
<body ng-app="app" data-ng-controller="HomeController">
    <section id="main">
        <header>
            <img src="/static/assets/favicon.svg" alt="logo" class="logo" />
            <h1>{{config.Dashboard.Title}}</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/dashboard" target="_self">Dashboard</a></li>
                <li><a href="/api" target="_self">API swagger docs</a></li>
                <li><a href="https://github.com/wongatech/HealthMonitoring" target="_self">Project site</a></li>
            </ul>
        </nav>
        <article>
            <header>Summary</header>
            <p ng-if="endpoints==null">-- connection issue --</p>
            <p ng-if="endpoints.length==0">No endpoints registered yet</p>
            <div class="stats" ng-if="endpoints.length>0">
                <div>
                    <span class="filter-label stats-key">total</span>
                    <span class="stats-value">{{endpoints.length}}</span>
                </div>
                <div ng-repeat="(key,value) in endpoints | orderBy: 'Status' | groupBy: 'Status'" ng-click="addItemToFilter(key, statusFilterName)">
                    <span class="endpoint-status stats-key status-{{key}} endpoint-clickable" ng-mousemove="displayHint($event)" ng-mouseleave="hideTooltip()">{{key}}</span>
                    <span class="stats-value">{{value.length}}</span>
                </div>
            </div>

            <div class="selected-filters-container">
                <span ng-if="filters[statusFilterName].length" class="filter-label stats-key">Selected Statuses</span>
                <span ng-repeat="status in filters[statusFilterName]" ng-click="removeItemFromFilter(status, statusFilterName)" class="endpoint-status status-{{status}} endpoint-clickable">{{status}}</span>
            </div>
            <div class="tooltip" style="left: {{statLegend.x}}px; top: {{statLegend.y}}px;" ng-if="statLegend">
            <div>{{statLegend.description}}</div>
            </div>

            <div class="selected-filters-container">
                <p class="tagsContainer">
                    <span ng-if="filters[tagsFilterName].length" class="filter-label stats-key">Selected Tags</span>
                    <span ng-repeat="tag in filters[tagsFilterName] | orderBy: 'toString()'" ng-click="removeItemFromFilter(tag, tagsFilterName)" ng-style="filterTagStyles[tag]" ng-mouseenter="changeFilterTagColour(tag, true)" ng-mouseleave="changeFilterTagColour(tag, false)" class="endpointTag">{{tag}}</span>
                </p>
            </div>
        </article>
        <article>
            <header>Endpoints</header>
            <p ng-if="endpoints==null">-- connection issue --</p>
            <p ng-if="endpoints.length==0">No endpoints registered yet</p>
            <div>
                <table ng-if="endpoints.length>0" class="endpoints">
                    <tr><th>Group</th><th>Name</th><th>Status</th><th>Response time</th><th>Last check time</th><th>Tags<th></tr>
                    <tr ng-repeat="e in endpoints | filter:statusFilter | orderBy: ['Group','Name'] | filter:tagFilter">
                        <td><div class="overlaytext">{{e.Group}}</div></td>
                        <td><a href="/dashboard/details?id={{e.Id}}" target="_blank"><div class="overlaytext">{{e.Name}}</div></a></td>
                        <td>
                            <div class="endpoint-status status-{{e.Status}}" ng-click="onStatusSelected(e.Status)" ng-mousemove="displayHint($event)" ng-mouseleave="hideTooltip()">{{e.Status}}</div>
                        </td>
                        <td>{{formatDuration(e.LastResponseTime)}}</td>
                        <td>{{e.LastCheckUtc | dateFilter }}</td>
                        <td>
                            <p class="tagsContainer"><span ng-repeat="tag in e.Tags | orderBy: 'toString()'" ng-click="addItemToFilter(tag, tagsFilterName)" ng-style="endpointTagStyles[e.Id][tag]" ng-mouseenter="changeTagColour(e.Id, tag, true)" ng-mouseleave="changeTagColour(e.Id, tag, false)" class="endpointTag">{{tag}}</span></p>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
        <footer>Version: {{config.Dashboard.Version}}</footer>
    </section>

    <script src="/static/scripts/healthmonitoringApp.js"></script>
    <script src="/static/scripts/homeController.js"></script>
    <script src="/static/scripts/endpointService.js"></script>
</body>
</html>